<div class="container-fluid m-content">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="panel m-panel">
          <div class="panel-heading m-panel-head groups">
            <span ng-repeat="group in manager.groups">
              <a class="btn btn-sm m-button" ng-class="{'m-button--active': manager.filter.group == group}" ng-click="manager.choiceGroup(group)">{{group}} <span class="badge progress-bar-danger" ng-show="manager.calcNewVacations(group)">{{manager.calcNewVacations(group)}}</span></a>
            </span>
            <a class="btn btn-sm m-button" ng-class="{'m-button--active': !manager.filter.group}"  ng-click="manager.choiceGroup()">All</a>
          </div>
          <div class="panel-body m-panel-body users">
            <div class="form-group">
              <input class="form-control dropdown-toggle ng-pristine ng-valid ng-empty ng-touched" placeholder="choose user..." id="statusinput" type="text" ng-model="manager.search" aria-haspopup="true" aria-expanded="true" aria-invalid="false">
            </div>
            <span class="user inline-block" ng-repeat="user in manager.users | filter:manager.groupFilter | filter:manager.search">
              <a class="btn btn-sm m-button"  ng-click="manager.choiceUser(user.uid, user.group, user)" ng-class="{'m-button--active': manager.filter.uid == user.uid}">{{user.firstName + " " + user.lastName}}</a>

            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="buttons-panel clearfix">
        <div class="btn-group col-xs-12 col-sm-9 col-md-7">
          <label class="btn col-xs-12 col-sm-4 col-md-4 m-tab" ng-class="{'m-tab--active': manager.pageState == 'Vacations'}" ng-click="manager.changePageState('Vacations')">Vacations</label>
          <label class="btn col-xs-12 col-sm-4 col-md-4 m-tab" ng-class="{'m-tab--active': manager.pageState == 'DaysOff'}" ng-click="manager.changePageState('DaysOff')">DaysOff</label>
          <label class="btn col-xs-12 col-sm-4 col-md-4 m-tab" ng-class="{'m-tab--active': manager.pageState == 'calendar'}" ng-click="manager.changePageState('calendar')">Calendar</label>
        </div>
        <div class="btn-group col-xs-12 col-sm-2 m-button-user"><button class="col-xs-12 btn chi-btn--default" ng-click="manager.openNewUserForm()">Add User</button></div>
      </div>
      <hr>
      <div class="buttons-panel clearfix">
        <div class="btn-group col-xs-12 col-sm-9 col-md-7">
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-tab--inprogress" ng-class="{'m-tab--inprogress--active': manager.statusFilter.status == 'inprogress'}" ng-click="manager.choiceButtonFilter('inprogress')">In progress</label>
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-tab--confirmed" ng-class="{'m-tab--confirmed--active': manager.statusFilter.status == 'confirmed'}" ng-click="manager.choiceButtonFilter('confirmed')">Confirmed</label>
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-tab--rejected" ng-class="{'m-tab--rejected--active': manager.statusFilter.status == 'rejected'}" ng-click="manager.choiceButtonFilter('rejected')">Rejected</label>
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-tab--all" ng-class="{'m-tab--all--active': !manager.statusFilter.status}" ng-click="manager.choiceButtonFilter('')">All</label>
        </div>
        
      </div>
      <hr>
      
      <div class="row">
      <div class="m-calendar well clearfix" ng-show="manager.pageState == 'calendar'">
        <div class="row col-md-12">

          <br class="visible-xs visible-sm">

          <!-- <h2 class="text-center">{{ manager.calendarTitle }}</h2> -->
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="btn-group">
                <label class="btn chi-btn--default" ng-model="manager.calendarView" uib-btn-radio="'year'">Year</label>
                <label class="btn chi-btn--default" ng-model="manager.calendarView" uib-btn-radio="'month'">Month</label>
                <!-- <label class="btn chi-btn--default" ng-model="manager.calendarView" uib-btn-radio="'week'">Week</label> -->
              </div>
            </div>
          </div>   
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="btn-group">
                <button
                  class="btn chi-btn--default"
                  mwl-date-modifier
                  date="manager.calendarDay"
                  decrement="manager.calendarView">
                  <<
                </button>
                <button
                  class="btn chi-btn--default"
                  mwl-date-modifier
                  date="manager.calendarDay"
                  set-to-today>
                  {{ manager.calendarTitle }}
                </button>
                <button
                  class="btn chi-btn--default"
                  mwl-date-modifier
                  date="manager.calendarDay"
                  increment="manager.calendarView">
                  >>
                </button>
              </div>
            </div>
          </div>               
          <br class="visible-xs visible-sm">
          </div>
          <div class="col-md-12">
            <mwl-calendar
              view="manager.calendarView"
              view-date="manager.calendarDay"
              events="manager.events"
              view-title="manager.calendarTitle"
              auto-open="true"
              slide-box-disabled="true"
              day-view-start="06:00"
              day-view-end="22:00"
              day-view-split="30"
              on-event-click="manager.userInfo(calendarEvent.user)"
            >
            </mwl-calendar>
          </div>
        </div>        
      </div>


      <div class="well" ng-show="manager.pageState == 'Vacations' || manager.pageState == 'DaysOff'">

        <div ng-show="manager.isRepeated((manager.users | filter:manager.filter | statusUserFilter:'status':manager.statusFilter.status:manager.pageState))">
          <h4 ng-show="manager.filter.uid"><span class="btn btn-sm chi-btn--reversed" ng-click="manager.userInfo(manager.filtredUser)">{{manager.filtredUser.firstName.charAt(0) + ". " + manager.filtredUser.lastName}}</span> <small class="text-warning">{{manager.filter.group}}</small> doesn't have <span ng-hide="!manager.filtredUser.vacations[manager.pageState]">{{manager.statusFilter.status}}</span> vacations</h4>
          <h4 ng-hide="manager.filter.uid">There is no {{manager.statusFilter.status}} vacations<span ng-show="manager.filter.group"> in <small class="text-warning">{{manager.filter.group}}</small></span></h4>
        </div>

        <div ng-repeat="user in manager.users | filter:manager.filter | statusUserFilter:'status':manager.statusFilter.status:manager.pageState">
          <h4><span class="btn btn-sm chi-btn--reversed" ng-click="manager.userInfo(user)">{{user.firstName.charAt(0) + ". " + user.lastName}}</span> <small class="text-warning">{{user.group}}</small></h4>
          <table class="table table-bordered">
            <colgroup>
              <col class="col-xs-3">
              <col class="col-xs-3">
              <col class="col-xs-2">
              <col class="col-xs-4">
            </colgroup>
            <thead>
              <tr>
                <th>Start Date
                  <span ng-click="manager.setOrder('startDate')" ng-class="{'m-tab--sort--active': manager.isActive('startDate')}" class="glyphicon glyphicon-arrow-up"></span>
                  <span ng-click="manager.setOrder('-startDate')" ng-class="{'m-tab--sort--active': manager.isActive('-startDate')}" class="glyphicon glyphicon-arrow-down"></span>
                </th>
                <th>End Date
                  <span ng-click="manager.setOrder('endDate')" ng-class="{'m-tab--sort--active': manager.isActive('endDate')}" class="glyphicon glyphicon-arrow-up"></span>
                  <span ng-click="manager.setOrder('-endDate')" ng-class="{'m-tab--sort--active': manager.isActive('-endDate')}" class="glyphicon glyphicon-arrow-down"></span>
                </th>
                <th>Duration</th>
                <th ng-hide="manager.statusFilter.status == 'rejected'">Action</th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="(key, item) in user.vacations[manager.pageState] | statusFilter:'status':manager.statusFilter.status | orderByObject: manager.order">
                <td>{{item.startDate | date:'dd MMMM yyyy'}}</td>
                <td>{{item.endDate | date:'dd MMMM yyyy'}}</td>
                <td>{{manager.calcDays(item.startDate, item.endDate)}}</td>
                <td ng-hide="manager.statusFilter.status == 'rejected'">
                  <button ng-hide="item.status!='inprogress'" class="btn btn-xs btn-primary col-md-offset-2" ng-click="manager.confirmVacation(user, item.id)">Confirm</button>
                  <button ng-hide="item.status=='rejected'" class="btn btn-xs btn-danger col-md-offset-2" ng-click="manager.rejectVacation(user, item.id)">Reject</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
  
  

      <!-- <div class="row">
        <div class="vacations" ng-repeat="user in manager.users | filter:manager.filter">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="(key, item) in user.vacations.Vacations | statusFilter:'status':manager.statusFilter.status">
            <div class="panel m-panel">
              <div class="panel-heading m-panel-head">
                <div class="row">
                  <div class="col-xs-9"><div>{{user.firstName.charAt(0) + ". " + user.lastName}} </div><span class="m-vacation-group">{{user.group}}</span></div>
                  <div class="col-xs-3"><span class="btn m-button-user chi-btn--default" ng-click="manager.userInfo(user)">Info</span></div>
                </div>
              </div>
              <div class="panel-body m-panel-body">
                <div class="vacation-data well m-well">
                  <div>from {{item.startDate | date:'dd MMMM yyyy'}}</div>
                  <div>to {{item.endDate | date:'dd MMMM yyyy'}}</div>
                </div>
                <div class="buttons-wrapper">
                  <button ng-disabled="item.status!='inprogress'" class="btn btn-primary col-md-offset-2" ng-click="manager.confirmVacation(user, item.id)">Confirm</button>
                  <button ng-disabled="item.status=='rejected'" class="btn btn-danger col-md-offset-2" ng-click="manager.rejectVacation(user, item.id)">Reject</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> -->
    </div>
  </div>
</div>
