<div class="container-fluid m-content">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="panel m-panel">
          <div class="panel-heading m-panel-head groups">
            <span ng-repeat="group in manager.groups">
              <a class="btn btn-xs m-button-black" ng-class="{'m-button-orange': manager.filter.group == group}" ng-click="manager.choiceGroup(group)">{{group}}</a>
            </span>
            <a class="btn btn-xs m-button-orange" ng-click="manager.choiceGroup()">All</a>
          </div>
          <div class="panel-body m-panel-body users">
            <span class="user inline-block" ng-repeat="user in manager.users | filter:manager.filter">
              <a class="btn btn-sm m-button-gray" ng-click="manager.choiceUser(user.uid, user.group, user)" ng-class="{'m-button-orange': manager.filter.uid == user.uid}">{{user.firstName + " " + user.lastName}}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="buttons-panel clearfix">
        <div class="btn-group col-xs-12 col-sm-9 col-md-7">
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-button-gray" ng-class="{'m-button-orange': manager.statusFilter.status == 'inprogress'}" ng-click="manager.choiceButtonFilter('inprogress')">In progress</label>
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-button-gray" ng-class="{'m-button-orange': manager.statusFilter.status == 'confirmed'}" ng-click="manager.choiceButtonFilter('confirmed')">Confirmed</label>
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-button-gray" ng-class="{'m-button-orange': manager.statusFilter.status == 'rejected'}" ng-click="manager.choiceButtonFilter('rejected')">Rejected</label>
          <label class="btn col-xs-12 col-sm-3 col-md-3 m-button-gray" ng-class="{'m-button-orange': !manager.statusFilter.status}" ng-click="manager.choiceButtonFilter('')">All</label>
        </div>
        <button class="col-xs-12 col-sm-2 btn m-button-user chi-btn--default" ng-click="manager.openNewUserForm()">Add User</button>
      </div>
      <hr>


      <!-- <div class="gridStyle" ui-grid-selection ui-grid="{columnDefs: manager.columnDefs, data: manager.users }"></div> -->
      <div class="well">

        <div ng-show="manager.isRepeated((manager.users | filter:manager.filter | statusUserFilter:'status':manager.statusFilter.status))">
          <h4 ng-show="manager.filter.uid"><span class="btn btn-sm m-button-gray" ng-click="manager.userInfo(manager.filtredUser)">{{manager.filtredUser.firstName.charAt(0) + ". " + manager.filtredUser.lastName}}</span> <small class="text-warning">{{manager.filter.group}}</small> doesn't have <span ng-hide="!manager.filtredUser.vacations.list">{{manager.statusFilter.status}}</span> vacations</h4>
          <h4 ng-hide="manager.filter.uid">There is no {{manager.statusFilter.status}} vacations<span ng-show="manager.filter.group"> in <small class="text-warning">{{manager.filter.group}}</small></span></h4>
        </div>

        <div ng-repeat="user in manager.users | filter:manager.filter | statusUserFilter:'status':manager.statusFilter.status">
          <h4><span class="btn btn-sm m-button-gray" ng-click="manager.userInfo(manager.filtredUser)">{{user.firstName.charAt(0) + ". " + user.lastName}}</span> <small class="text-warning">{{user.group}}</small></h4>
          <table class="table table-bordered">
            <colgroup>
              <col class="col-md-4">
              <col class="col-md-4">
              <col class="col-md-4">
            </colgroup>
            <thead>
              <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th ng-hide="manager.statusFilter.status == 'rejected'">Action</th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="(key, item) in user.vacations.list | statusFilter:'status':manager.statusFilter.status">
                <td>{{item.startDate | date:'dd MMMM yyyy'}}</td>
                <td>{{item.endDate | date:'dd MMMM yyyy'}}</td>
                <td ng-hide="manager.statusFilter.status == 'rejected'">
                  <button ng-hide="item.status!='inprogress'" class="btn btn-xs btn-primary col-md-offset-2" ng-click="manager.confirmVacation(user, item.id)">Confirm</button>
                  <button ng-hide="item.status=='rejected'" class="btn btn-xs btn-danger col-md-offset-2" ng-click="manager.rejectVacation(user, item.id)">Reject</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
  
  

      <!-- <div class="row">
        <div class="vacations" ng-repeat="user in manager.users | filter:manager.filter">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="(key, item) in user.vacations.list | statusFilter:'status':manager.statusFilter.status">
            <div class="panel m-panel">
              <div class="panel-heading m-panel-head">
                <div class="row">
                  <div class="col-xs-9"><div>{{user.firstName.charAt(0) + ". " + user.lastName}} </div><span class="m-vacation-group">{{user.group}}</span></div>
                  <div class="col-xs-3"><span class="btn m-button-user chi-btn--default" ng-click="manager.userInfo(user)">Info</span></div>
                </div>
              </div>
              <div class="panel-body m-panel-body">
                <div class="vacation-data well m-well">
                  <div>from {{item.startDate | date:'dd MMMM yyyy'}}</div>
                  <div>to {{item.endDate | date:'dd MMMM yyyy'}}</div>
                </div>
                <div class="buttons-wrapper">
                  <button ng-disabled="item.status!='inprogress'" class="btn btn-primary col-md-offset-2" ng-click="manager.confirmVacation(user, item.id)">Confirm</button>
                  <button ng-disabled="item.status=='rejected'" class="btn btn-danger col-md-offset-2" ng-click="manager.rejectVacation(user, item.id)">Reject</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> -->
    </div>
  </div>
</div>
