<section id="popup4" class="user-edit-profile lightbox" style="display: block;">
      <h1>User Profile <a href="#popup5" class="icom-trash lightbox" ng-click="info.deleteUser()" ng-show="info.isDelShow && !info.newUser.deleted"></a></h1>
      <!-- form Edit profile for user-->
      <form class="fancybox-form " name="addUserForm"  ng-submit="user.submitForm(addUserForm.$valid)" novalidate>
        <fieldset>
          <div class="row">
            <label class="label-left" for="First_name" >First name</label>
            <input type="text" id="First_name" ng-model="user.newUser.firstname" ng-pattern="user.namePattern" required>
          </div>
          <div class="row">
            <label class="label-left" for="Last_name">Last name</label>
            <input type="text" id="Last_name"  ng-model="user.newUser.lastname" ng-pattern="user.namePattern" required>
          </div>
          <div class="row">
            <label class="label-left" for="Email3">Email</label>
            <input type="email" id="Email3" ng-model="user.newUser.email" ng-pattern="user.emailPattern" required>
          </div>
          <div class="row">
            <label for="User1" class="label-left">Role</label>
            <div class="filter-holder">
              <span ng-click="user.openRoleSelectMenu()" ng-blur="user.closeRoleSelectMenu($event)" class="jcf-select jcf-unselectable">
                <span class="jcf-select-text">
                  <span class="">{{user.newUser.role}}</span>
                </span>
                <span class="jcf-select-opener"></span>
                <div ng-show="user.roleSelectMenuIsOpened" class="jcf-select-drop jcf-select-jcf-hidden jcf-unselectable" style="width: 285px;">
                  <div class="jcf-select-drop-content">
                    <span class="jcf-list jcf-scroll-active">
                      <span class="jcf-list-content" style="max-height: 217px; overflow: auto;">
                        <ul>
                          <li ng-repeat="role in user.role"><span ng-click="user.choiceRole(role, $event)" class="jcf-option" ng-class="{'jcf-selected': user.newUser.role == role}">{{role}}</span></li>
                        </ul>
                      </span>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div class="row">
            <label for="Team1" class="label-left">Team</label>
            <div class="filter-holder">
              <span ng-click="user.openGroupSelectMenu()" ng-blur="user.closeGroupSelectMenu($event)" class="jcf-select jcf-unselectable">
                <span class="jcf-select-text">
                  <span class="">{{user.newUser.group}}</span>
                </span>
                <span class="jcf-select-opener"></span>
                <div ng-show="user.groupSelectMenuIsOpened" class="jcf-select-drop jcf-select-jcf-hidden jcf-unselectable" style="width: 285px;">
                  <div class="jcf-select-drop-content">
                    <span class="jcf-list jcf-scroll-active">
                      <span class="jcf-list-content" style="max-height: 217px; overflow: auto;">
                        <ul>
                          <li ng-repeat="group in user.group"><span ng-click="user.choiceGroup(group, $event)" class="jcf-option" ng-class="{'jcf-selected': user.newUser.group == group}">{{group}}</span></li>
                        </ul>
                      </span>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div class="row">
            <label class="label-left" for="date1">Employed on</label>
            <div class="icom-calendar">
              <chi-datepicker class="datepicker" name="employmentdate" ng-model="user.newUser.employmentdate" is-show-all-days="true"></chi-datepicker>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-red">SAVE CHANGES</button>
            <a href="#" class="btn btn-border-red close" title="cansel" ng-click="user.cancelNewUser()">Cancel</a>
          </div>
        </fieldset>
      </form>

      <!-- form User profile for user -->
      <!-- <form action="#" class="fancybox-form ">
        <fieldset>
          <div class="row">
            <label class="label-left">First name</label>
            <strong class="user-information">{{info.user.firstname}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Last name</label>
            <strong class="user-information">{{info.user.lastname}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Email</label>
            <strong class="user-information">{{info.user.email}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Role</label>
            <strong class="user-information">{{info.user.role}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Team</label>
            <strong class="user-information">{{info.user.group}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Employed on</label>
            <strong class="user-information">{{info.user.employmentdate | date}}</strong>
          </div>
          <div class="row">
            <a href="#" class="btn btn-red" ng-click="info.editUser(info.user)">EDIT USER INFO</a>
            <a href="#" class="btn btn-border-red close" title="cansel" ng-click="info.resetPassword()">SET NEW PASSWORD</a>
          </div>
        </fieldset>
      </form> -->
    </section><!-- <a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a> -->