<div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; display: block;"><div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 513px; height: auto; position: absolute; top: 20px; opacity: 1; overflow: visible;"><div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;"><div class="fancybox-outer"><div class="fancybox-inner" style="overflow: auto; width: 427px; height: 497px;"><section id="popup4" class="user-edit-profile lightbox" style="display: block;">
      <h1>User Profile <a href="#popup5" class="icom-trash lightbox" ng-click="info.deleteUser()" ng-show="info.isDelShow && !info.newUser.deleted"></a></h1>
      <!-- form Edit profile for admin-->
      <form class="fancybox-form " name="addUserForm"  ng-submit="user.submitForm(addUserForm.$valid)" novalidate>
        <fieldset>
          <div class="row">
            <label class="label-left" for="First_name" >First name</label>
            <input type="text" id="First_name" ng-model="user.newUser.firstname" ng-pattern="user.namePattern" required>
          </div>
          <div class="row">
            <label class="label-left" for="Last_name">Last name</label>
            <input type="text" id="Last_name"  ng-model="user.newUser.lastname" ng-pattern="user.namePattern" required>
          </div>
          <div class="row">
            <label class="label-left" for="Email3">Email</label>
            <input type="email" id="Email3" ng-model="user.newUser.email" ng-pattern="user.emailPattern" required>
          </div>
          <div class="row">
            <label for="User1" class="label-left">Role</label>
            <select  id="User1" ng-model="user.newUser.role" ng-options="role as role for role in user.role" required>
              <option value="">-- Chose user's role --</option>
            </select>
          </div>
          <div class="row">
            <label for="Team1" class="label-left">Team</label>
            <select  id="Team1" ng-model="user.newUser.group" ng-options="group as group for group in user.group" required>
              <option value="">-- Chose user's group --</option>
            </select>
          </div>
          <div class="row">
            <label class="label-left" for="date1">Employed on</label>
            <div class="icom-calendar">
              <input class="calendar" type="text" name="employmentdate" ng-model="user.newUser.employmentdate" is-show-all-days="true">
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-red">SAVE CHANGES</button>
            <a href="#" class="btn btn-border-red close" title="cansel" ng-click="user.cancelNewUser()">Cansel</a>
          </div>
        </fieldset>
      </form>

      <!-- form User profile for admin -->
      <!-- <form action="#" class="fancybox-form ">
        <fieldset>
          <div class="row">
            <label class="label-left">First name</label>
            <strong class="user-information">{{info.user.firstname}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Last name</label>
            <strong class="user-information">{{info.user.lastname}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Email</label>
            <strong class="user-information">{{info.user.email}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Role</label>
            <strong class="user-information">{{info.user.role}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Team</label>
            <strong class="user-information">{{info.user.group}}</strong>
          </div>
          <div class="row">
            <label class="label-left">Employed on</label>
            <strong class="user-information">{{info.user.employmentdate | date}}</strong>
          </div>
          <div class="row">
            <a href="#" class="btn btn-red" ng-click="info.editUser(info.user)">EDIT USER INFO</a>
            <a href="#" class="btn btn-border-red close" title="cansel" ng-click="info.resetPassword()">SET NEW PASSWORD</a>
          </div>
        </fieldset>
      </form> -->
    </section></div></div><!-- <a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a> --></div></div></div>