<div class="modal-header">
  <h3 class="modal-title">Change password form</h3>
</div>

<div class="modal-body">
  <form class="form-horizontal" name="changePasswordForm"  ng-submit="user.submitForm(changePasswordForm.$valid)" novalidate>
    <fieldset>

      <div class="form-group">
        <div ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && (user.invalidForm || changePasswordForm.oldPassword.$dirty)}">
          <label class="col-md-4 control-label" for="oldPassword">Old password</label>  
          <div class="col-md-4">
            <input id="oldPassword" name="oldPassword" type="text" placeholder="Old password..." class="form-control input-md" ng-model="user.oldPassword" ng-pattern="user.passwordPattern" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error': user.differentPasswords || changePasswordForm.newPassword.$invalid && (user.invalidForm || changePasswordForm.newPassword.$dirty)}">
          <label class="col-md-4 control-label" for="newPassword">New password</label>  
          <div class="col-md-4">
            <input id="newPassword" name="newPassword" type="text" placeholder="New password..." class="form-control input-md" ng-model="user.newPassword" ng-pattern="user.passwordPattern" required>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div ng-class="{'has-error': user.differentPasswords || changePasswordForm.newPassword2.$invalid && (user.invalidForm || changePasswordForm.newPassword2.$dirty)}">
          <label class="col-md-4 control-label" for="newPassword2">Repeat password</label>  
          <div class="col-md-4">
            <input id="newPassword2" name="newPassword2" type="text" placeholder="Repeat password..." class="form-control input-md" ng-model="user.newPassword2" ng-pattern="user.passwordPattern" required>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <button type="submit" class="btn btn-primary">Change password</button>
            <button class="btn btn-warning" type="button" ng-click="user.cancelChangePassword()">Cancel</button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>