<div class="form-group">
 <div class="dropdown" uib-dropdown>
  <input  class="form-control dropdown-toggle"
      uib-dropdown-toggle
      placeholder="choose user..." 
      id="statusinput"
      type="text"
      ng-model="search"/>
  <ul class="dropdown-menu dropdown-menu-right dropdown-scroll dropdown_adm" uib-dropdown-menu uib-dropdown-menu-right uib-dropdown-scroll role="menu">
   <li ng-repeat="item in itemsList | filter:search">
    <a ng-href="" role="menuitem" tabindex="-1" ng-click="chooseItem(item)">
     {{item.firstName}} {{item.lastName}}
    </a>
   </li>
  </ul>
 </div>
</div>