/* @import '../../../assets/styles/sass/variables.scss'; */
@import '../../../assets/styles/scss/main.scss';

/* $font-color: white;


$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

html { height: 100%; }
body {
  cursor: default;
  height: 100%;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*, *:focus {
  outline: none !important;
}
.app-content{
  height: 100%;
}
.chi-link{
  color: white;
  text-decoration: none !important;
}
.chi-link:hover {
  color: $default-color !important;
}
.chi-tab {
  border: 2px solid $default-color-hover;
}
.chi-tab:hover {
  border: 2px solid $default-color;
}
.chi-tab--active {
  border: 2px solid $default-color;
  background-color: $default-color;
}
.chi-tab--active:hover {
  background-color: $default-color;
}
.chi-btn--default {
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid $default-color;
  background-color: $default-color;
  color: white;
}
.chi-btn--default:hover{
  color: white;
  background-color: $default-color-hover;
}
.chi-btn--reversed {
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid $default-color;
  background-color: $default-color-hover;
  color: white;
}
.chi-btn--reversed:hover{
  color: white;
  background-color: $default-color;
}
.chi-btn--reversed--active {
  background-color: $default-color;
}
.chi-glyphicon {
  margin-right: 5px;
}
.page-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 150px;
}
.btn-info {
  background-color: $default-color !important;
}
.active .text-info {
  color: white !important;
}
.page-loading__container {
  margin: 0 auto;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
.calendar-highlightClass {
  background-color: rgba(30, 144, 255, 0.2);
}
.icon-warning {
  color: red !important;
}
.modal-holidays-list {
  max-height: 250px;
  overflow-y: auto;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
.cal-month-box .cal-day-today span[data-cal-date] {
  font-size: 1.2em;
}
.mWl-calendar-options {
  text-align: right;
  margin: 0 0 10px;
}
@media screen and (max-width: 767px) {
  ul li label.btn.m-tab--confirmed {
    background-color: rgba(30, 144, 255, 1);
    border: 1px solid #fff;
  }
  .mWl-calendar-options {
    text-align: center;
  }
  .table-responsive {
    max-height: 100%;
  }
  span[data-cal-date] {
    margin-right: 5px;
  }
}
.modal-open {
  position: fixed;
} */