$default-color: rgba(232, 71, 0, 1);
$bg-color: rgba(0, 0, 0, .6);
$br-size: 5px;

$font-color: white;


$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';


html { height: 100%; }
body {
  height: 100%;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.app-content{
  height: 100%;
}
a:focus {
  outline: none;
}
.chi-link{
  color: white;
  text-decoration: none !important;
}
.chi-link:hover {
  color: $default-color !important;
}
.chi-btn--default {
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid $default-color;
  background-color: $default-color;
  outline:0 !important;
}
.chi-btn--default:hover{
  color: white;
  background-color: rgba(100, 34, 13, .2);
}
.chi--active {
  background-color: $default-color;
}
.chi--active:hover {
  background-color: lighten($default-color, 10%) !important;
}
.page-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 150px;
}
.btn-info {
  background-color: $default-color !important;
}
.active .text-info {
  color: white !important;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
