$default-color: #FF5722;

vac-navbar {
	.main-navbar{
		width: 100%;
		margin: 0;
		background-color: rgba(0, 0, 0, .8);

		.logout__dropdown{
			cursor: pointer;
			text-align: center;
			font-weight: bold;
			letter-spacing: 2px;
			line-height: 30px;
			color: white;
			background-color: rgba(100, 34, 13, .2);
			border: 1px solid $default-color;
			&:hover{
				background-color: $default-color;
			}
		}

	}

}
