<header id="header" ng-if="vm.user.id" scroll>
      <div class="container">
        <div class="logo">
          <img src="../../../assets/styles/images/logo.svg" alt="CHI"/>
        </div>
        <nav class="menu" ng-class="{'menu-opened': vm.isMenuOpened}">
          <ul id="nav">
            <li ng-if='vm.user.role' ui-sref-active="active" ui-sref={{vm.states.HOME}}><a ng-click="vm.selected()" href="#"><i class="icom-house"></i>My Requests</a></li>
            <li ng-if='vm.isAdmin()' ui-sref-active="active" ui-sref={{vm.states.ADMIN}}><a ng-click="vm.selected()" href="#"><i class="icom-queen"></i>Admin</a></li>
            <li ng-if='vm.isManager()' ui-sref-active="active" ui-sref={{vm.states.MANAGER}}><a ng-click="vm.selected()" href="#"><i class="icom-queen"></i>Manager</a></li>
            <li ng-if='vm.isTeamLead()' ui-sref-active="active" ui-sref={{vm.states.TEAMLEAD}}><a ng-click="vm.selected()" href="#"><i class="icom-queen"></i>Team lead</a></li>
            <li ui-sref-active="active"><a ng-click="vm.selected(); vm.manual()" href="#"><i class="icom-question"></i>Help</a></li>
          </ul>
        </nav>
        <!-- burger menu opener-->
        <a href="#" class="nav-opener" ng-click="vm.isMenuOpened = !vm.isMenuOpened"><span></span></a>
        <!-- open-close structure example -->
        <div class="open-close-nav">
          <span class="name-user" href="#">{{vm.user.firstname + " " + vm.user.lastname}}</span >
          <div class="slide">
            <div class="slide-box">
              <time datetime="13-09-2010" class="date">Employed on {{vm.user.employmentdate | date}}</time>
              <ul class="link-nav">
                <li><span class="counter">{{vm.user.availableDaysOff}}</span><a href="#">Days-off remaining</a></li>
                <li><span class="counter">{{vm.user.availableDays}}</span><a href="#">Vacation days remaining</a></li>
              </ul>
              <ul class="login-list-link">
                <li ng-if='vm.isManager() || vm.isAdmin()'><a class="lightbox" href="#popup1" ng-click="vm.settings()">Settings</a></li>
                <li><a href="#" ui-sref={{vm.states.CHANGEPASSWORD}}>Change password</a></li>
                <li><a href="#" ng-click="vm.logOut()">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <a href="#main" class="back-to-top icom-arrow-down"></a>