<nav class="navbar navbar-fixed-top navbar-inverse main-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar__toggle-btn" ng-if='vm.user.role' ng-click="vm.collapsed()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://chisw.com" target="_blank">
        <img src="../../../assets/images/logo.png" class="text centr">
      </a>
    </div>
    <div class="navbar-collapse collapse in navbar__collapse" id="myNavbar" aria-expanded="true" uib-collapse="!vm.isCollapsed">
      <ul class="nav navbar-nav main-navbar__menu">
        <li ui-sref-active="chi--active" ng-if='vm.user.role'>
          <a ui-sref={{vm.states.HOME}}><span class="glyphicon glyphicon-home chi-glyphicon"></span>Home</a>
        </li>
        <li ui-sref-active="chi--active" ng-if='vm.isAdmin()'>
          <a ui-sref={{vm.states.ADMIN}}>
          <span class="glyphicon glyphicon-user chi-glyphicon"></span>admin</a>
        </li>
        <li ui-sref-active="chi--active" ng-if='vm.isManager()'>
          <a ui-sref={{vm.states.MANAGER}}>
          <span class="glyphicon glyphicon-user chi-glyphicon"></span>manager</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="vm.user.uid">
        <li><a href="" class="navbar__user"><span class="glyphicon glyphicon-user chi-glyphicon"></span>{{vm.user.firstName + " " + vm.user.lastName}}</a></li>
        <li><a ui-sref={{vm.states.LOGIN}} ng-click="vm.logOut()" class="logout"><span class="glyphicon glyphicon-log-out chi-glyphicon"></span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
