@import '../../../assets/styles/sass/variables.scss';

vac-navbar {
    .main-navbar {
        width: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, .9);
        border: none;
        height: 50px;

        .main-navbar__menu {
            li a{
                color: #fff;
                font-weight: bold;

                &:hover{
                    background-color: rgba(100, 34, 13, .6);
                }
            }
        }

        .user-profile {
            &__menu {
                background-color: rgba(0, 0, 0, .9);
                width: 100%;
                color: #fff;
                &_item {
                    text-align: center;
                }
            }
        }
        .in {
            background-color: #000;
        }
        .logout:hover {
            color: $default-color !important;
        }
        .navbar__collapse {
            overflow:  hidden;
        }
        .navbar__user:hover {
            cursor: default;
        }
        .navbar__toggle-btn {
            border: 2px solid white;
        }
        .navbar__toggle-btn:hover,
        .navbar__toggle-btn:focus {
            border-color: $default-color;
            background-color: transparent;
        }
        .navbar__toggle-btn:hover .icon-bar,
        .navbar__toggle-btn:focus .icon-bar {
            background-color: $default-color;
        }
    }
    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
}
