<div class="modal-header">
  <h3 class="modal-title">Settings</h3>
</div>

<div class="modal-body">


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" name="SettingsForm"  ng-submit="user.submitForm()" novalidate>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="emailCreate" name="emailCreate" type="checkbox" ng-model="user.settings.emailCreate">
                  Send email when new vacations were created
                </label>
              </div>
            </div>


            <div class="form-group">
              <label for="newEmail">Recipients:</label>
              <ul class="list-group" >
                <li ng-repeat="item in user.settings.email track by $index" class="list-group-item">
                  <span class="glyphicon glyphicon-envelope"></span> {{item}}
                  <span title="Delete User" class="close icon-warning glyphicon glyphicon-trash" ng-click="user.deleteEmail(item)"></span>
                </li>
              </ul>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="newEmail" name="newEmail" type="text" class="form-control" ng-model="user.newEmail" placeholder="Add email" ng-pattern="user.emailPattern">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" ng-click="user.addEmail()">Add</button>
                </span>
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="emailCreate" name="emailCreate" type="checkbox" ng-model="user.settings.emailChanged">
                  Send email to user when status of vacation was changed
                </label>
              </div>
            </div>            


<!-- 
              <div class="form-group">

                <label class="col-md-4 control-label" for="firstname">Emails for info about creating vacations</label>  

                <ul ng-repeat="item in user.settings.email">
                  <li>{{item}}<span title="Delete User" class="close icon-warning glyphicon glyphicon-trash" ng-click="user.deleteEmail(item)"></span></li>
                </ul>
                <input id="newEmail" name="newEmail" type="text" placeholder="Add email" class="" ng-model="user.newEmail">
                <a href="" ng-click="user.addEmail()" class="logout">
                  <span class="glyphicon glyphicon-ok chi-glyphicon"></span></a>
                </div> -->

<!-- 
      <div class="form-group">
        <div ng-class="{'has-error': addUserForm.lastname.$invalid && (user.invalidForm || addUserForm.lastname.$dirty)}">
          <label class="col-md-4 control-label" for="lastname">Last name</label>  
          <div class="col-md-4">
            <input id="lastname" name="lastname" type="text" placeholder="last name..." class="form-control input-md" ng-model="user.newUser.lastname" ng-pattern="user.namePattern" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label class="col-md-4 control-label" for="lastname">Employment date</label>  
          <div class="col-md-4">
            <chi-datepicker class="datepicker" name="employmentdate" ng-model="user.newUser.employmentdate" is-show-all-days="true"></chi-datepicker>
          </div>
        </div>
      </div>
    -->
      <!-- <div class="form-group">
        <div ng-class="{'has-error': addUserForm.phone.$invalid && (user.invalidForm || addUserForm.phone.$dirty)}">
          <label class="col-md-4 control-label" for="phone">Phone Number</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="phone" name="phone" class="form-control bfh-phone" placeholder="phone..." type="text" ng-model="user.newUser.phone" ng-change="user.phoneChanged()" required>
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            </div>
          </div>
        </div>
      </div> -->

     <!--  <div class="form-group">
        <div ng-class="{'has-error': addUserForm.email.$invalid && (user.invalidForm || addUserForm.email.$dirty)}">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="email" name="email" class="form-control" placeholder="email..." type="text" ng-model="user.newUser.email" ng-pattern="user.emailPattern" required>
              <span class="input-group-addon">@</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error': addUserForm.userRole.$invalid && (user.invalidForm || addUserForm.userRole.$dirty)}">
          <label class="col-md-4 control-label" for="userRole">User's role</label>
          <div class="col-md-4">
            <select id="userRole" name="userRole" class="form-control" ng-model="user.newUser.role" ng-options="role as role for role in user.role" required>
              <option value="">-- chose user's role --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error': addUserForm.userGroup.$invalid && (user.invalidForm || addUserForm.userGroup.$dirty)}">
          <label class="col-md-4 control-label" for="userGroup">User's group</label>
          <div class="col-md-4">
            <select id="userGroup" name="userGroup" class="form-control" ng-model="user.newUser.group" ng-options="group as group for group in user.group" required>
              <option value="">-- chose user's group --</option>
            </select>
          </div>
        </div>
      </div> -->

<!--       <div class="form-group">
        <div ng-class="{'has-error': addUserForm.totalVacation.$invalid && (user.invalidForm || addUserForm.totalVacation.$dirty)}">
          <label class="col-md-4 control-label" for="totalVacation">Total Vacation</label>  
          <div class="col-md-4">
            <input id="totalVacation" name="totalVacation" type="number" placeholder="" class="form-control input-md" ng-model="user.newUser.vacations.total" required min="0">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div ng-class="{'has-error': addUserForm.dayOff.$invalid && (user.invalidForm || addUserForm.dayOff.$dirty)}">
          <label class="col-md-4 control-label" for="dayOff">Day Off</label>  
          <div class="col-md-4">
            <input id="dayOff" name="dayOff" type="number" placeholder="" class="form-control input-md" ng-model="user.newUser.vacations.dayOff" required min="0">
          </div>
        </div>
      </div> -->

      <div class="modal-footer">
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <button class="btn btn-warning" type="button" ng-click="user.cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>