<div class="modal-header">
  <h3 class="modal-title">Settings</h3>
</div>

<div class="modal-body">


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" name="SettingsForm"  ng-submit="user.submitForm()" novalidate>

        <uib-tabset active="active">
          <uib-tab index="0" heading="Emails">
            <br>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="emailCreate" name="emailCreate" type="checkbox" ng-model="user.settings.emailCreate">
                  Send email when new vacations were created
                </label>
              </div>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="emailCreate" name="emailCreate" type="checkbox" ng-model="user.settings.emailChanged">
                  Send email to user when status of vacation was changed
                </label>
              </div>
            </div>      


            <div class="form-group">
              <label for="newEmail">General recipients:</label>
              <ul class="list-group" >
                <li ng-repeat="item in user.settings.email track by $index" class="list-group-item">
                  <span class="glyphicon glyphicon-envelope"></span> {{item}}
                  <span title="Delete User" class="close icon-warning glyphicon glyphicon-trash" ng-click="user.deleteEmail(item)"></span>
                </li>
              </ul>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="newEmail" name="newEmail" type="text" class="form-control" ng-model="user.newEmail" placeholder="Add email" ng-pattern="user.emailPattern">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" ng-click="user.addEmail()">Add</button>
                </span>
              </div>
            </div>


<hr>
            <div class="form-group">
              <label for="newGroupEmail">Recipients by groups:</label>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>

                <select class="form-control" placeholder="Select group"
                      ng-options="value.name for value in user.groups"
                      ng-model="user.group"
                ></select>

              </div>
            
              <ul class="list-group" >
                  <li ng-repeat="item in user.group.emails track by $index" class="list-group-item">
                    <span class="glyphicon glyphicon-envelope"></span> {{item}}
                    <span title="Delete User" class="close icon-warning glyphicon glyphicon-trash" ng-click="user.deleteGroupEmail(item)"></span>
                  </li>
              </ul>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="newGroupEmail" name="newGroupEmail" type="text" class="form-control" ng-model="user.newGroupEmail" placeholder="Add email for {{user.group.name}} group" ng-pattern="user.emailPattern">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" ng-click="user.addGroupEmail()">Add</button>
                </span>
              </div>
            </div>

<hr>

        </uib-tab>
        <uib-tab index="1" heading="Holidays">
          <br>
            <div class="form-group">
              <label for="newEmail">List of holidays:</label>
              <input type="text" class="form-control" placeholder="Filter by year" ng-model="user.holidayFilter">
              <ul class="list-group modal-holidays-list">
                <li ng-repeat="item in user.settings.holidays | orderBy: date | filter:user.holidayFilter || '-'" class="list-group-item">
                  <span class="glyphicon glyphicon-calendar"></span> {{item}}
                  <span title="Delete holiday" class="close icon-warning glyphicon glyphicon-trash" ng-click="user.deleteHoliday(item)"></span>
                </li>
              </ul>

                <div class="">
                  <chi-datepicker class="datepicker col-md-10 col-xs-9 row"
                    name="user.holdayDate"
                    ng-model="user.holidayDate"
                  >
                  </chi-datepicker>
                  <button class="btn btn-secondary pull-right col-md-2 col-xs-3" type="button" ng-click="user.addHoliday()">Add</button>
              </div>
          </div>
        </uib-tab>
      </uib-tabset>



      <div class="modal-footer">
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <button class="btn btn-warning" type="button" ng-click="user.cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>

  </form>
</div>