<div class="input-group">
    <input name="{{name}}" type="date" class="form-control datepicker__input" readonly
        uib-datepicker-popup
        ng-model="curDate"
        is-open="popup.opened"
        datepicker-options="{startingDay: 1, minDate: minDate, maxDate: maxDate}"
        show-button-bar="false"
        alt-input-formats="altInputFormats">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default datepicker__btn" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>
