@import '../../../assets/styles/sass/variables.scss';

// .datepicker {
// 	display: block;
// 	color: black;
// }
// .datepicker__input::-webkit-calendar-picker-indicator,
// .datepicker__input::-webkit-inner-spin-button {
//     display: none;
// }
// .datepicker__btn {
// 	height: 34px;
// 	border-radius: 0 4px 4px 0;
// 	margin-top: 0;
// }
// .datepicker__btn:hover .glyphicon {
// 	color: $default-color;
// }
// .dropdown-menu table {
// 	outline: none;
// }
// .datepicker-holidays button {
//     background-color: rgba(255,0,0,0.3) !important;
// }


div[uib-datepicker-popup-wrap]{
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 14px !important;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 7px rgba(0,0,0,0.2);
	z-index: 8050 !important;
}

.uib-datepicker-popup.dropdown-menu {
	list-style: none;
	padding: 0;
	top:auto;

}

.uib-datepicker{
	padding: 5px 8px;
	font-family: 'Arial';
	background: #fff;
	.uib-title{
		line-height: 2.3em;
		text-align: center;
		height: 30px;
		border: 1px solid #ccc;
		border-radius: 4px;
		color: #000;
		font-weight: 700;
		font-size: 13px;
		padding: 0 5px;
	}
	.uib-left,
	.uib-right{
		width: 30px;
		height: 30px;
		border: 1px solid #ccc;
		border-radius: 4px;
		transition: border 0.3s;
		position: relative;
		&:before{
			font-family: 'icomoon';
			content:"\e911";
			position: absolute;	
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%) rotate(90deg);
			color: #e51561;
			font-size: 8px;
			z-index: 10;
		}
		&:hover,
		&:active{
			border-color: #e51561;
		}
	}
	.uib-right:before{
		   transform: translate(-40%,-55%) rotate(-90deg);
	}
	// .h6{display: none;}

}

.input-group{
	.input-group-btn{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		border: none;
		z-index: 2;
		button{
			min-width: 1px;
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border: none;
		}
	}
	small{
		font-size: 13px;
		line-height: 2;
		font-weight: bold;
		color: #000;
	}
	.datepicker-today{
		button{
			background: none !important;
			color: #000 !important;
			&:before{
				content:"";
				position: absolute;
				border-radius: 50%;
				border: 1px solid #e51561;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}
	}
	.datepicker-holidays {
		button,
		button[disabled]{
			// color:#e51561;
			color: rgba(229,21,97,.4) !important;
		}
	}
	button{
		color: #000;
		min-width: 20px;
		padding: 4px;
		border: none;
		border-radius: 0;
		width: 32px;
		height: 32px;
	    padding: .5em .1em;
	    text-align: center;
	    font-size: 15px;
	    font-weight: 600;
	    position: relative;
		&[disabled]{
			color: #d3d3d3 !important;
			border-color: #f5f5f5 !important;
			background: #f5f5f5 !important;
		}
		&:hover,
		&:active{
			color: #e51561;
		}
		&.active{
			background: #e51561;
			border-radius: 50%;
			color: #fff;
		}
	}
}

.uib-monthpicker{
	tbody{
		td{
			width: 33.33%;
			padding:.3em .3em 0;
			text-align: center;
		}
		 button{
			width: auto !important;
			height: auto !important;
			font-size: 13px;
			padding: .5em .3em;
			&.active{
				border-radius: 9px;
			}
		}
		
	}
}

.uib-yearpicker{
	tbody {
		td{
			padding: 0 .5em;
		}
		button{
			font-size: 12px;
			&.active{
				// padding: .3em .15em;
				border-radius: 9px;
			}
		}
	}
}