<div id="wrapper">
    <main id="main" role="main">
      <div class="container">
        <aside id="sidebar">
          <ul class="sidebar-links">
            <li ng-class="{'active': userCtrl.vacationState == userCtrl.VACATIONS}"
                ng-click="userCtrl.changeVacationState(userCtrl.VACATIONS)"
            ><a href="#">Vacations</a></li>
            <li ng-class="{'active': userCtrl.vacationState == userCtrl.DAYSOFF}"
                ng-click="userCtrl.changeVacationState(userCtrl.DAYSOFF)"><a href="#"
            >Days-off</a></li>
            <li ng-class="{'active': userCtrl.vacationState == userCtrl.WORKFROMHOME}"
                ng-click="userCtrl.changeVacationState(userCtrl.WORKFROMHOME)"
            ><a href="#">Work from home</a></li>
          </ul>
          <div class="logic-holder">

          </div>
        </aside>
        <div id="content">
          <div class="vacation-left">
            <h1 ng-show="userCtrl.vacationState == userCtrl.VACATIONS">Vacation request</h1>
            <h1 ng-show="userCtrl.vacationState == userCtrl.DAYSOFF">Day-off request</h1>
            <h1 ng-show="userCtrl.vacationState == userCtrl.WORKFROMHOME">Work from home request</h1>
            <span class="vacation-day" ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Vacation days expire on <time datetime="13-09">{{userCtrl.user.vacationsExpireDate | date:'dd MMM yyyy'}}</time></span>
            <form name="userForm" class="calendar-form" ng-submit='userCtrl.submitHandler(userForm.startdate.$viewValue, userForm.enddate.$viewValue);'>
              <fieldset>
                <div class="col dashed">
                  <label for="start_date">Start date</label>
                  <div class="icom-calendar">
                    <chi-datepicker class="datepicker"
                      name="startdate"
                      ng-model="startdate"
                      min-date="minStartDate"
                      max-date2="userCtrl.maxDate"
                      calc-days="userCtrl.calcDaysCalc()"
                      holidays="{{userCtrl.holidays}}"
                      >
                    </chi-datepicker>
                  </div>
                  <label for="end_date">End date</label>
                  <div class="icom-calendar">
                    <chi-datepicker class="datepicker"
                      name="enddate"
                      ng-model="enddate"
                      min-date="minEndDate"
                      max-date2="userCtrl.maxDate"
                      calc-days="userCtrl.calcDaysCalc()"
                      holidays="{{userCtrl.holidays}}"
                      >
                    </chi-datepicker>
                  </div>
                  <div class="btn-holder"><button type="submit" class="btn-blue" >Send a request</button></div>
                </div>
                <div class="col">
                  <strong class="day-counter" ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">{{userCtrl.user.availableDays}}<span>days available</span></strong>
                  <strong class="day-counter" ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">{{userCtrl.user.availableDaysOff}}<span>days available</span></strong>
                  <strong class="day-counter" ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">5<span>days available</span></strong>
                  <strong class="day-counter">{{userCtrl.user.vacationDays}}<span>will be used</span></strong>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="vacation-right">
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Vacation requests</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Day-off requests</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Work from home requests</span>
              </h2>
              <div class="vacations-holder">
                <time datetime="" class="date" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:{new: true} | orderBy:'-enddate' | limitTo: userCtrl.listLimits.new as listNew">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}<a class="icom-reject delete-vacation" ng-click="userCtrl.deleteVacation(item)"></a></time>
                <a href="#" class="opener"><span ng-show="userCtrl.listLimits.new == 4" ng-click="userCtrl.listLimits.new = infinity" class="visible">View all</span><span ng-show="userCtrl.listLimits.new != 4" ng-click="userCtrl.listLimits.new = 4">Hide</span></a>
              </div>
            </article>
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Rejected vacations</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Rejected days-off</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Rejected Work from home</span>
              </h2>
              <div class="vacations-holder">
                <time datetime="" class="date" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:{rejected: true} | orderBy:'-enddate' | limitTo: userCtrl.listLimits.rejected as listRejected">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}</time>
                <div class="vacations-slider">
               
                </div>
                <a href="#" class="opener"><span ng-show="userCtrl.listLimits.rejected == 4" ng-click="userCtrl.listLimits.rejected = infinity" class="visible">View all</span><span ng-show="userCtrl.listLimits.rejected != 4" ng-click="userCtrl.listLimits.rejected = 4">Hide</span></a>
              </div>
            </article>
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Approved vacations</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Approved days-off</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Approved Work from home</span>
              </h2>
              <div class="vacations-holder">
                <time datetime="" class="date" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:{confirmed: true} | orderBy:'-enddate' | limitTo: userCtrl.listLimits.confirmed as listNew">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}</time>
                <a href="#" class="opener"><span ng-show="userCtrl.listLimits.confirmed == 4" ng-click="userCtrl.listLimits.confirmed = infinity" class="visible">View all</span><span ng-show="userCtrl.listLimits.confirmed != 4" ng-click="userCtrl.listLimits.confirmed = 4">Hide</span></a>
              </div>
            </article>
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Spent vacations</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Spent days-off</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Spent Work from home</span>
              </h2>
              <div class="vacations-holder">
                <time datetime="" class="date" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:{spent: true} | orderBy:'-enddate' | limitTo: userCtrl.listLimits.spent as listSpent">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}</time>
                <a href="#" class="opener"><span ng-show="userCtrl.listLimits.spent == 4" ng-click="userCtrl.listLimits.spent = infinity" class="visible">View all</span><span ng-show="userCtrl.listLimits.spent != 4" ng-click="userCtrl.listLimits.spent = 4">Hide</span></a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </main>
  </div>