<div id="wrapper">
    <main id="main" role="main">
      <div class="container">
        <aside id="sidebar">
          <ul class="sidebar-links">
            <li ng-class="{'active': userCtrl.vacationState == userCtrl.VACATIONS}"
                ng-click="userCtrl.changeVacationState(userCtrl.VACATIONS)"
            ><a href="#">Vacations <span class="counter">4</span></a></li>
            <li ng-class="{'active': userCtrl.vacationState == userCtrl.DAYSOFF}"
                ng-click="userCtrl.changeVacationState(userCtrl.DAYSOFF)"><a href="#"
            >Days-off <span class="counter">4</span></a></li>
            <li ng-class="{'active': userCtrl.vacationState == userCtrl.WORKFROMHOME}"
                ng-click="userCtrl.changeVacationState(userCtrl.WORKFROMHOME)"
            ><a href="#">Work from home <span class="counter">410</span></a></li>
          </ul>
          <div class="logic-holder">
            <!-- <form action="#" class="sidebar-filter custom-form">
              <fieldset>
                add class active  open drop
                <div class="filter-holder ">
                  <input type="search" name="Filter" id="Filter" placeholder="Filter by user">
                  <ul class="filter-list-user">
                    <li><a href="#" class="name">Игорь Царенко</a><span class="location">Js</span></li>
                    <li><a href="#" class="name">Андрей Аваигян</a><span class="location">Android</span></li>
                    <li><a href="#" class="name">Игорь Пилипенко</a><span class="location">Node JS</span></li>
                    <li><a href="#" class="name">Влада Пилигрим</a><span class="location">Marketing managers</span></li>
                    <li><a href="#" class="name">Максим Шигалов</a><span class="location">Design</span></li>
                    <li><a href="#" class="name">Игорь Прокопченко</a><span class="location">Js</span></li>
                    <li><a href="#" class="name">Владислав Илигиминов</a><span class="location">Js</span></li>
                  </ul>
                </div>
                <div class="filter-holder ">
                  <select>
                    <option value="">All departments</option>
                    <option value="">.net</option>
                    <option value="">Android</option>
                    <option value="">business analyst</option>
                    <option value="">data bases</option>
                    <option value="">design</option>
                    <option value="">hr</option>
                    <option value="">ios</option>
                    <option value="">it</option>
                    <option value="">java</option>
                    <option value="">js</option>
                    <option value="">managers</option>
                    <option value="">marketing</option>
                    <option value="">markup</option>
                    <option value="">node js</option>
                    <option value="">operations</option>
                    <option value="">php</option>
                    <option value="">python</option>
                    <option value="">qa</option>
                    <option value="">ruby</option>
                    <option value="">sales</option>
                    <option value="">c++</option>
                  </select>
                </div>
                <div class="filter-holder">
                  <div class="icom-calendar ">
                    <input class="calendar" type="text"  placeholder="Sep 12, 2016">
                  </div>
                  <span class="line"></span>
                  <div class="icom-calendar">
                    <input class="calendar" type="text" placeholder="Sep 18, 2016">
                  </div>
                  add class btn-visible
                  <div class="btn-holder"><a href="#">Clear date filter</a></div>
                </div>
              </fieldset>
            </form> -->
            <!-- <ul class="admin-panel">
              <li><a href="#" class=" btn btn-border-blue">ADD USER</a></li>
              <li><a href="#popup2" class="lightbox btn btn-border-blue">sHOW DELETED USERS</a></li>
              <li><a href="#popup3" class=" lightbox btn btn-border-blue">USER REQUEST</a></li>
            </ul> -->
          </div>
        </aside>
        <div id="content">
          <div class="vacation-left">
            <h1>Request a Vacation</h1>
            <span class="vacation-day">Vacation days expire at <time datetime="13-09">Sep 13, 2010</time></span>
            <form class="calendar-form" ng-submit='userCtrl.submitHandler(userForm.startdate.$viewValue, userForm.enddate.$viewValue)'>
              <fieldset>
                <div class="col dashed">
                  <label for="start_date">Start date</label>
                  <chi-datepicker class="datepicker "
              name="startdate"
              ng-model="startdate"
              min-date="minStartDate"
              max-date2="userCtrl.maxDate"
              calc-days="userCtrl.calcDaysCalc()"
              holidays="{{userCtrl.holidays}}"
              >
              </chi-datepicker>
                  <label for="end_date">End date</label>
                  <chi-datepicker class="datepicker"
              name="enddate"
              ng-model="enddate"
              min-date="minEndDate"
              max-date2="userCtrl.maxDate"
              calc-days="userCtrl.calcDaysCalc()"
              holidays="{{userCtrl.holidays}}"
              >
              </chi-datepicker>
                  <div class="btn-holder"><button type="submit" class="btn-blue" >Send a request</button></div>
                </div>
                <div class="col">
                  <strong class="day-counter" ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">{{userCtrl.user.availableDays}}<span>days available</span></strong>
                  <strong class="day-counter" ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">{{userCtrl.user.availableDaysOff}}<span>days available</span></strong>
                  <strong class="day-counter" ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">5<span>days available</span></strong>
                  <strong class="day-counter">{{userCtrl.user.vacationDays}}<span>will be used</span></strong>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="vacation-right">
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Vacation requests</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Day-off requests</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Work from home requests</span>
              </h2>
              <div class="vacations-holder" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:'new' | orderBy:'enddate'">
                <time datetime="" class="date">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}</time>
              </div>
            </article>
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Rejected vacations</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Rejected days-off</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Rejected Work from home</span>
               <span class="counter">1 new</span></h2>
              <div class="vacations-holder">
                <time datetime="" class="date" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:'rejected' | orderBy:'enddate'">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}</time>
                <div class="vacations-slider">
                  <!-- <time datetime="" class="date">Sep 25, 2016 — Sep 30, 2016</time>
                  <time datetime="" class="date">Sep 25, 2016 — Sep 30, 2016</time>
                  <time datetime="" class="date">Sep 25, 2016 — Sep 30, 2016</time> -->
                </div>
                <a href="#" class="opener"><span class="visible">View all</span><span class="hidden">Hide</span></a>
              </div>
            </article>
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Approved vacations</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Approved days-off</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Approved Work from home</span>
              </h2>
              <div class="vacations-holder">
                <span class="none">&mdash;</span>
              </div>
            </article>
            <article class="vacation-box">
              <h2>
                <span ng-show="userCtrl.isVacationState(userCtrl.VACATIONS)">Spent vacations</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.DAYSOFF)">Spent days-off</span>
                <span ng-show="userCtrl.isVacationState(userCtrl.WORKFROMHOME)">Spent Work from home</span>
              </h2>
              <div class="vacations-holder">
                <time datetime="" class="date" ng-repeat="item in userCtrl.user[userCtrl.vacationState] | userFilterVacation:'spent' | orderBy:'enddate'">{{item.startdate | date:'dd-MM-yyyy'}} — {{item.enddate | date:'dd-MM-yyyy'}}</time>
              </div>
            </article>
          </div>
        </div>
      </div>
    </main>
    <a href="#main" class="back-to-top icom-arrow-down"></a>
  </div>