@import '../../../assets/styles/sass/variables.scss';

.user-wrapper {
	background: url("../../../assets/images/bg.jpg") center no-repeat;
	background-size: cover;
	min-height: 100%;
}
.user__container {
	padding-top: 70px;
	padding-bottom: 20px;
}
.user-form {
	padding: 25px 0;
	color: white;
	border-radius: $br-size;
	background-color: rgba(0, 0, 0, .6);
}
.user-form input {
	text-align: center;
}
.user-form__title {
	color: white;
	margin-top: 0px;
	margin-bottom: 20px;
}
.user-form__last-row {
	margin-bottom: 20px;
}
.user-wrapper .user__container .panel {
	// background-color: $default-color;
	color: #000;
}
.user-wrapper .table tbody tr:hover {
	background-color: #fff;
	color: $default-color;
}
.table a.btn {
	// background-color: #000;
	// border: #000;
	color: #fff;
}
.table a.btn:hover, .table a.btn:hover .glyphicon {
	// color: $default-color;
}
.glyphicon {
	// color: #000;
}
.table .glyphicon-remove {
	color: #fff;
}
.panel-title {
	font-weight: 600;
}
.user-wrapper .user__container .panel-heading:hover {
	color: $default-color;
}
.user-wrapper .user__container .panel-heading:hover .glyphicon {
	color: $default-color;
}
