@import '../../../assets/styles/sass/variables.scss';

.user-wrapper {
	background: url("../../../assets/images/bg.jpg") center no-repeat;
	background-size: cover;
	min-height: 100%;
	width: 100%;
	background-attachment: fixed;
}
.user__container {
	min-height: 100vh;
	padding-top: 70px;
}
.user-form {
	padding: 25px 0;
	color: white;
	border-radius: $br-size;
	background-color: rgba(0, 0, 0, .6);
	border: 2px solid white;
}
.user-form input {
	text-align: center;
}
.user-form__title {
	color: white;
	margin-top: 0px;
	margin-bottom: 20px;
}
.user-form__last-row {
	margin-bottom: 20px;
}
.user-wrapper .user__container .panel {
	color: #000;
}
.table a.btn {
	color: #fff;
}
.table .glyphicon-remove {
	color: #fff;
}
.user-wrapper .table tbody tr:hover, .user-wrapper .user__container .panel-heading:hover {
	background-color: #fff;
	color: $default-color;
}
.panel-title {
	font-weight: 600;
}
