.user-wrapper {
	background: url("../../../assets/images/bg.jpg") top center no-repeat;
	background-size: cover;
}
.user__container {
	display: flex;
	min-height: 100vh;
	align-items:center;
	padding-top: 70px;
	padding-bottom: 20px;
}
.user-form {
	padding: 30px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .6);
	color: white;
}
.user-form input {
	text-align: center;
}
.user-form__title {
	color: white;
	margin-top: 0px;
	margin-bottom: 20px;
}
.user-form__last-row {
	margin-bottom: 20px;
}
.user-form__btn:hover {
	color: white;
	background-color: rgba(155,155,155,.2);
}
.user-page__wrapper .panel-heading {
	background-color: #FF5722;
	color: #000;
}

