<main id="main" role="main">
      <div class="container">
        <aside id="sidebar">
          <ul class="sidebar-links">
            <li ng-class="{'active': admin.pageState == 'vacations'}" ng-click="admin.changePageState('vacations')"><a href="#">Vacations <span class="counter">{{admin.calcNewVacationsCounter('vacations')}}</span></a></li>
            <li ng-class="{'active': admin.pageState == 'daysoff'}" ng-click="admin.changePageState('daysoff')"><a href="#">Days-off <span class="counter">{{admin.calcNewVacationsCounter('daysoff')}}</span></a></li>
            <li ng-class="{'active': admin.pageState == 'workfromhome'}" ng-click="admin.changePageState('workfromhome')"><a href="#">Work from home <span class="counter">{{admin.calcNewVacationsCounter('workfromhome')}}</span></a></li>
          </ul>
          <div class="logic-holder">
            <form action="#" class="sidebar-filter custom-form">
              <fieldset>
                <!-- add class active  open drop-->
                <div class="filter-holder ">
                  <input ng-model="admin.search" ng-change="admin.isUserListShow()" type="search" name="Filter" id="Filter" placeholder="Filter by user">
                  <ul ng-show="admin.isUserListShown" class="filter-list-user">
                    <li ng-repeat="user in admin.users | strictFilter:admin.groupFilter:'group' | inputUserFilter:admin.search | filter:{deleted: admin.showDeletedUsers}" class="name"><a ng-click="admin.choiceUser(user.id, user.group, user)">{{user.firstname + " " + user.lastname}}</a><span class="location">{{user.group}}</span></li>
                    <!-- <li><a href="#" class="name">Игорь Царенко</a><span class="location">Js</span></li>
                    <li><a href="#" class="name">Андрей Аваигян</a><span class="location">Android</span></li>
                    <li><a href="#" class="name">Игорь Пилипенко</a><span class="location">Node JS</span></li>
                    <li><a href="#" class="name">Влада Пилигрим</a><span class="location">Marketing managers</span></li>
                    <li><a href="#" class="name">Максим Шигалов</a><span class="location">Design</span></li>
                    <li><a href="#" class="name">Игорь Прокопченко</a><span class="location">Js</span></li>
                    <li><a href="#" class="name">Владислав Илигиминов</a><span class="location">Js</span></li> -->
                  </ul>
                </div>
                <div class="filter-holder">
                  <span ng-click="admin.openGroupSelectMenu()" ng-blur="admin.closeGroupSelectMenu($event)" class="jcf-select jcf-unselectable">
                    <span class="jcf-select-text">
                      <span class="">{{admin.filter.user.group ? admin.filter.user.group :'All departments'}}</span>
                    </span>
                    <span class="jcf-select-opener"></span>
                    <div ng-show="admin.groupSelectMenuIsOpened" class="jcf-select-drop jcf-select-jcf-hidden jcf-unselectable" style="width: 285px;">
                      <div class="jcf-select-drop-content">
                        <span class="jcf-list jcf-scroll-active">
                          <span class="jcf-list-content" style="max-height: 217px; overflow: auto;">
                            <ul>
                              <li><span ng-click="admin.choiceGroup()" class="jcf-option" ng-class="{'jcf-selected': !admin.filter.user.group}">All departments</span></li>
                              <li ng-repeat="group in admin.groups"><span ng-click="admin.choiceGroup(group, $event)" class="jcf-option" ng-class="{'jcf-selected': admin.filter.user.group == group}">{{group}}</span></li>
                            </ul>
                          </span>
                        </span>
                      </div>
                    </div>
                  </span>
                </div>
                <div class="filter-holder">
                  <div class="icom-calendar ">
                    <chi-datepicker class="datepicker"
                      name="startdate"
                      ng-model="dateFilter.startdate"
                      is-show-all-days="true"
                      ng-model-options="{timezone:'UTC'}"
                      holidays="{{admin.holidays}}"
                      max-date2="admin.maxDate"
                      placeholder="Start date"
                      >
                      </chi-datepicker>
                  </div>
                  <span class="line"></span>
                  <div class="icom-calendar">
                    <chi-datepicker class="datepicker"
                      name="enddate"
                      ng-model="dateFilter.enddate"
                      min-date="dateFilter.startdate"
                      is-show-all-days="true"
                      ng-model-options="{timezone:'UTC'}"
                      holidays="{{admin.holidays}}"
                      max-date2="admin.maxDate"
                      placeholder="End date"
                      >
                      </chi-datepicker>
                  </div>
                  <!-- add class btn-visible  -->
                  <div class="btn-holder btn-visible" ng-click="dateFilter = {}"><a href="#">Clear date filter</a></div>
                </div>
              </fieldset>
            </form>
            <ul class="admin-panel" ng-show="admit.user.role == admin.roles.ADMIN">
              <li><a href="#" class=" btn btn-border-blue" ng-click="admin.openNewUserForm()">ADD USER</a></li>
              <!-- <li><a href="#popup2" class="lightbox btn btn-border-blue">sHOW DELETED USERS</a></li> -->
              <li><div href="#popup3" class=" lightbox btn btn-border-blue" ng-click="admin.showUserRequest()">USER REQUEST</div></li>
            </ul>
          </div>
        </aside>
        <div id="content">
          <div class="tabs ui-corner-all ui-widget ui-widget-content">
            <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header show-filter">
              <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" ng-class="{'ui-state-active': admin.statusFilter.status.new}" ng-click="admin.choiceButtonFilter('new')"><a class="ui-tabs-anchor">Active Requests <span class="counter">({{admin.calcNewVacationsStatus('new')}})</span></a></li>
              <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" ng-class="{'ui-state-active': !admin.statusFilter.status.new}" ng-click="admin.choiceStatusFilter('all')"><a class="ui-tabs-anchor">Handled Requests <span class="counter">({{admin.calcNewVacationsStatus('handled')}})</span></a></li>
              <label for="deleted"><input type="checkbox" name="Show_rejected" id="deleted" ng-model="admin.showDeletedUsers"> Show deleted</label>
            </ul>
            <form action="#" class="show-filter custom-form" ng-show="admin.statusFilter.status.handled">
              <label class="label-btn" ng-class="{'jcf-label-active': admin.statusFilter.status.all}" for="all" ng-click="admin.choiceStatusFilter('all')">All<input type="checkbox" id="all" ng-model="admin.statusFilter.status.all" hidden></label>
              <label class="label-btn" ng-class="{'jcf-label-active': admin.statusFilter.status.confirmed && !admin.statusFilter.status.all}" for="started" ng-click="admin.choiceStatusFilter('confirmed')">HAven’t STARTED<input type="checkbox" id="started" ng-model="admin.statusFilter.status.confirmed" hidden></label>
              <label class="label-btn" ng-class="{'jcf-label-active': admin.statusFilter.status.inprogress && !admin.statusFilter.status.all}" for="progress" ng-click="admin.choiceStatusFilter('inprogress')">IN PROGRESS<input type="checkbox" id="progress" ng-model="admin.statusFilter.status.inprogress" hidden></label>
              <label class="label-btn" ng-class="{'jcf-label-active': admin.statusFilter.status.spent && !admin.statusFilter.status.all}" for="past" ng-click="admin.choiceStatusFilter('spent')">PAST<input type="checkbox" name="past" id="past" btn-small ng-model="admin.statusFilter.status.spent" hidden></label>
              <label for="rejected"><input type="checkbox" name="Show_rejected" id="rejected" ng-model="admin.statusFilter.status.rejected"> Show rejected</label>
            </form>
            <div id="tabs-2">
            <div class="table">
              <!-- <div ng-repeat="user in admin.users | filter: {deleted: admin.showDeletedUsers} | filter:admin.filter | statusUserFilter:'status':admin.statusFilter.status:admin.pageState:dateFilter">
                <div class="table-row" ng-repeat="(key, item) in user[admin.pageState] | userFilterVacation:admin.statusFilter.status:dateFilter | orderByObject: admin.order" ng-class="'m-action-' + item.status">
                  <div class="table-col">
                    <span class="circle">Js</span>
                    <span class="user-name lightbox" ng-click="admin.userInfo(user)">{{user.firstname + " " + user.lastname}}</span>
                  </div>
                  <div class="table-col">
                    <span class="counter-day">{{admin.calcDays(item.startdate, item.enddate)}} days<time class="date-time" datetime="12-09-2016">{{item.startdate | date:'dd MMM yyyy'}} — {{item.enddate | date:'dd MMM yyyy'}}</time></span>
                  </div>
                  <div class="table-col">
                    <a href="#" class="btn-small-green icom-approve " ng-hide="item.status=='rejected'" class="btn btn-xs btn-primary col-md-offset-2" ng-class="{'disabled': item.status=='confirmed'}" ng-click="admin.confirmVacation(user, item.id)">Approve</a>
                    <a href="#" class="btn-small-red icom-reject" ng-hide="item.status == 'confirmed'" ng-class="{'disabled': item.status=='rejected'}" class="btn btn-xs btn-danger col-md-offset-2" ng-click="admin.rejectVacation(user, item.id)">Reject</a>
                    <a href="#" class="btn-small-red" ng-show="item.status == 'confirmed'" ng-click="admin.rejectVacation(user, item.id)">Reject</a>
                    <span class="wait">Waiting for approval</span>
                  </div>
                </div>
              </div> -->
              <div class="table-row" ng-repeat="(key, item) in admin.vacationsTransformatedData[admin.pageState] | filter:admin.filter | userFilterVacation:admin.statusFilter.status:dateFilter | filter:{deleted: admin.showDeletedUsers} | orderByObject: admin.order as vacationsFilteredData" ng-class="'m-action-' + item.status">
                  <div class="table-col">
                    <span class="circle" ng-if="item.user.group == 'JS'">Js</span>
                    <span class="circle" ng-if="item.user.group == '.Net'">.net</span>
                    <span class="circle" ng-if="item.user.group == 'Android'">andr</span>
                    <span class="circle" ng-if="item.user.group == 'Business Analyst'">ba</span>
                    <span class="circle" ng-if="item.user.group == 'Data Bases'">db</span>
                    <span class="circle" ng-if="item.user.group == 'Design'">dsgn</span>
                    <span class="circle" ng-if="item.user.group == 'HR'">hr</span>
                    <span class="circle" ng-if="item.user.group == 'iOS'">ios</span>
                    <span class="circle" ng-if="item.user.group == 'IT'">it</span>
                    <span class="circle" ng-if="item.user.group == 'Java'">java</span>
                    <span class="circle" ng-if="item.user.group == 'Managers'">mng</span>
                    <span class="circle" ng-if="item.user.group == 'Marketing Managers'">mkt</span>
                    <span class="circle" ng-if="item.user.group == 'Markup'">mrkp</span>
                    <span class="circle" ng-if="item.user.group == 'NodeJS'">node</span>
                    <span class="circle" ng-if="item.user.group == 'Operations'">opr</span>
                    <span class="circle" ng-if="item.user.group == 'PHP'">php</span>
                    <span class="circle" ng-if="item.user.group == 'Python'">pyth</span>
                    <span class="circle" ng-if="item.user.group == 'QA'">qa</span>
                    <span class="circle" ng-if="item.user.group == 'Ruby'">Ruby</span>
                    <span class="circle" ng-if="item.user.group == 'Sales'">sales</span>
                    <span class="circle" ng-if="item.user.group == 'C++'">c++</span>
                    <span class="user-name lightbox" ng-click="admin.userInfo(item.user)">{{item.user.firstname + " " + item.user.lastname}}</span>
                  </div>
                  <div class="table-col">
                    <span class="counter-day">{{admin.calcDays(item.startdate, item.enddate)}} <span ng-show="admin.calcDays(item.startdate, item.enddate) == 1">day</span><span ng-show="admin.calcDays(item.startdate, item.enddate) != 1">days</span><time class="date-time" datetime="12-09-2016">{{item.startdate | date:'dd MMM yyyy'}} — {{item.enddate | date:'dd MMM yyyy'}}</time></span>
                  </div>
                  <div class="table-col">
                    <a ng-if="!(admin.user.role == admin.roles.TEAMLEAD)" href="#" class="btn-small-green icom-approve " ng-hide="item.status=='rejected'" class="btn btn-xs btn-primary col-md-offset-2" ng-class="{'disabled': item.status=='confirmed'}" ng-click="admin.confirmVacation(item.user, item.id)">{{item.status=='confirmed' ? 'Aproved' : 'Approve'}}</a>
                    <a ng-if="!(admin.user.role == admin.roles.TEAMLEAD)" href="#" class="btn-small-red icom-reject" ng-hide="item.status == 'confirmed'" ng-class="{'disabled': item.status=='rejected'}" class="btn btn-xs btn-danger col-md-offset-2" ng-click="admin.rejectVacation(item.user, item.id)">{{item.status=='rejected' ? 'Rejected' : 'Reject'}}</a>
                    <a ng-if="!(admin.user.role == admin.roles.TEAMLEAD)" href="#" class="btn-small-red" ng-show="item.status == 'confirmed'" ng-click="admin.rejectVacation(item.user, item.id)">Reject</a>
                    <!-- <span class="wait">Waiting for approval</span> -->
                    <span class="updated-by" ng-if="item.updatedBy">Updated by {{item.updatedBy.firstname + " " + item.updatedBy.lastname}}</span>
                  </div>
                </div>
                <div ng-if="!vacationsFilteredData.length"></div>
              <!-- <div class="table-row">
                <div class="table-col">
                  <span class="circle">Js</span>
                  <a href="#" class="user-name">Максим Новак</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">10 days<time class="date-time" datetime="12-09-2016">Sep 5, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve ">Approve</a>
                  <a href="#" class="btn-small-red icom-reject">Reject</a>
                  <span class="wait">Waiting for approval</span>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle">Mng</span>
                  <a href="#" class="user-name">Игорь Олейник</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">14 days<time class="date-time" datetime="12-09-2016">Aug 08, 2016 — Sep 26, 2016</time></span>
                  
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve ">Approve</a>
                  <a href="#" class="btn-small-red icom-reject">Reject</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-apple"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Aug 09, 2016</time></span>
                  
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve ">Approve</a>
                  <a href="#" class="btn-small-red icom-reject">Reject</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-android"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 16, 2016 — Sep 30, 2016</time></span>
                  
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve ">Approve</a>
                  <a href="#" class="btn-small-red icom-reject">Reject</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-apple"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 16, 2016 — Sep 30, 2016</time></span>
                  
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve ">Approve</a>
                  <a href="#" class="btn-small-red icom-reject">Reject</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle">Mng</span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 16, 2016 — Sep 30, 2016</time></span>
                  
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve ">Approve</a>
                  <a href="#" class="btn-small-red icom-reject">Reject</a>
                </div>
              </div> -->
            </div>
            </div>
            <!-- <div id="tabs-3">
            <div class="table">
              <div class="table-row">
                <div class="table-col">
                  <span class="circle">Js</span>
                  <a href="#" class="user-name">Тимофей Лебедев</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">5 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve disabled">Approve</a>
                  <a href="#" class="btn-small-red">Delete</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle">Js</span>
                  <a href="#" class="user-name">Максим Новак</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">10 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-red icom-reject disabled">Reject</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle">Mng</span>
                  <a href="#" class="user-name">Игорь Олейник</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">14 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-red icom-reject disabled">Reject</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-apple"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve disabled">Approve</a>
                  <a href="#" class="btn-small-red">Delete</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-android"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve disabled">Approve</a>
                  <a href="#" class="btn-small-red">Delete</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-apple"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-green icom-approve disabled">Approve</a>
                  <a href="#" class="btn-small-red">Delete</a>
                </div>
              </div>
              <div class="table-row">
                <div class="table-col">
                  <span class="circle icom-apple"></span>
                  <a href="#" class="user-name">Яков Школьников</a>
                </div>
                <div class="table-col">
                  <span class="counter-day">1 days<time class="date-time" datetime="12-09-2016">Sep 12, 2016 — Sep 16, 2016</time></span>
                </div>
                <div class="table-col">
                  <a href="#" class="btn-small-red icom-reject disabled">Reject</a>
                </div>
              </div>
            </div>
                      </div> -->
        </div>
      </div>
    </main>
    