@import '../../../assets/styles/sass/variables.scss';

.m-content {
    background: url('../../../assets/images/bg.jpg') center no-repeat;
    min-height: 100%;
    padding-top: 10px;
    background-color: black;
    background-attachment: fixed;
    color: white;
    padding-top: 75px;
    .m-panel {
        color: white;
        background-color: rgba(155, 155, 155, 0.1);
        border: 2px solid #fff;
        .m-panel-head {
            background-color: #222;
        }
        .m-panel-body {
            background-color: rgba(0, 0, 0, 0);
        }
        .m-well {
            background-color: #222;
        }

    }
    .btn {
        outline: none !important;
    }
    .btn:focus {
        color: white;
    }
    .m-dropdown-menu {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
    }
    .m-button-black {
        color: #fff;
        margin-bottom: 3px;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #fff;
    }
    .m-button-gray {
        color: #fff;
        margin-bottom: 3px;
        background-color: rgba(155, 155, 155, 0.3);
        border: 1px solid #fff;
    }
    .m-button-gray:hover,.m-button-black:hover {
        color: #fff;
        border-color: #e84700;
        background-color: #e84700;
    }
    .m-button {
        margin-bottom: 5px;
    }
    .m-vacation-group {
        font-weight: bold;
    }
    .well {
        background-color: rgba(0, 0, 0, 0.3);
    }

     .cal-day-today span[data-cal-date] {
        color: #fff;
    }
    .m-button {
        color: #fff;
        margin-bottom: 3px;
        border: 2px solid #fff;
    }
    .m-button:hover {
        background-color: $default-color;
        border: 2px solid $default-color;
        color: white;
    }
    .m-button--active {
        background-color: $default-color-active;
        border: 2px solid $default-color;
    }
    .m-button--active:hover {
        background-color: $default-color;
    }
    .m-vacation-group {
        font-weight: bold;
    }
    .m-tab--inprogress {
        background-color: rgba(227, 188, 8, .2);
        border: 2px solid rgb(227, 188, 8);
    }
    .m-tab--inprogress:hover {
        background-color: rgb(227, 188, 8);
        color: white;
    }
    .m-tab--inprogress--active {
        background-color: rgb(227, 188, 8);
        color: #fff;
    }
    .m-tab--inprogress--active:hover {
        background-color: darken(rgb(227, 188, 8), 5%);
        border-color: darken(rgb(227, 188, 8), 5%);
    } 
    .m-tab--confirmed {
        background-color: rgba(30, 144, 255, .2);
        border: 2px solid rgb(30, 144, 255);
        border-radius: 0;
    }
    .m-tab--confirmed:hover {
        background-color: rgb(30, 144, 255);
        color: white;
        z-index: 99 !important;
    }
    .m-tab--confirmed--active {
        background-color: rgb(30, 144, 255); 
        color: #fff;       
    }
    .m-tab--confirmed--active:hover {
        background-color: darken(rgb(30, 144, 255), 5%);
        border-color: darken(rgb(30, 144, 255), 5%);
    } 
    .m-tab--rejected {
        background-color: rgba(173, 33, 33, .2);
        border: 2px solid rgb(173, 33, 33);
    }
    .m-tab--rejected:hover {
        background-color: rgb(173, 33, 33);
        color: white;
    }
    .m-tab--rejected--active {
        background-color: rgb(173, 33, 33);   
        color: #fff;  
    }
    .m-tab--rejected--active:hover {
        background-color: darken(rgb(173, 33, 33), 5%);
        border-color: darken(rgb(173, 33, 33), 5%);
    }
    .m-tab--all {
        background-color: $default-color-hover;
        border: 2px solid $default-color;
    }
    .m-tab--all:hover {
        background-color: $default-color;
        color: white;
    }
    .m-tab--all--active {
        background-color: $default-color;       
    }
    .m-tab--all--active:hover {
        background-color: darken($default-color, 5%);
        border-color: darken($default-color, 5%);
    }
    .m-tab {
        background-color: $default-color-hover;
        border: 2px solid $default-color;
    }
    .m-tab:hover {
        background-color: $default-color;
        color: white;
    }
    .m-tab--active {
        background-color: $default-color;
        color: white;
    }
    .m-tab--active:hover {
        background-color: darken($default-color, 5%);
        border-color: darken($default-color, 5%);
    }
    .m-tab--sort--active {
        color: $default-color;
        outline: none;
    }
    .well {
        background-color: $bg-color;
    }

    .ui-grid-top-panel {
        background: rgba(255,255,255,0);
    }
    .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: rgba(255,255,255,0.2);
    }
    .ui-grid-row:nth-child(even) .ui-grid-cell {
        background-color: rgba(255,255,255,0.1);
    }

    #cal-week-box {
            border: 1px solid white;
            border-right: 0px;
            border-radius: 5px 0 0 5px;
            background-color: #544848;
            text-align: right;
        }
    .cal-holiday {
        background-color: rgba(255,0,0,0.3) !important;
    }
    .cal-hours-color {
        color: black;
        top: 0 !important;
    }
    .cal-year-box {
        .cal-before-eventlist:hover {
            background-color: rgba(0, 200, 129, .1);
        }
     
        .cal-day-today span[data-cal-date] {
            color: #fff;
        }

        
        .cal-day-today {
            background-color: $default-color;
            color: #fff;
        }

        [class*="cal-cell"]:hover, .cell-focus, [class*="cal-cell"] .drop-active, .cal-cell.drop-active, .cal-week-box .cal-cell1.drop-active, .cal-day-hour-part.drop-active {
            background-color: $default-color-hover;
        }
    }

    .cal-context {
        .cal-row-fluid:hover {
            background-color: rgba(0, 200, 129, .1);
        }

        .cal-day-today span[data-cal-date] {
            color: #fff;
        }

        
        .cal-day-today {
            background-color: $default-color;
            color: #fff;
        }

        [class*="cal-cell"]:hover, .cell-focus, [class*="cal-cell"] .drop-active, .cal-cell.drop-active, .cal-week-box .cal-cell1.drop-active, .cal-day-hour-part.drop-active {
            background-color: $default-color-hover;
        }
    }
    .m-rejected-action {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
    .daysoff {
        border-radius: 0;
    }
    .workfromhome {
        border-radius: 10px 10px 0 0;
    }
    .m-action-inprogress {
        background-color: rgba(227, 188, 8, 0.1);
    }
    .m-action-confirmed {
        background-color: rgba(30, 144, 255, 0.1);
    }
    .m-action-rejected {
        background-color: rgba(173, 33, 33, 0.1);
    }

    .vacation-option {
        background-color: $default-color-hover;
        border: 2px solid $default-color;
        color: #fff;
    }
     .vacation-option:hover {
        background-color: $default-color;
        color: #fff;
    }
     .vacation-option-active {
        background-color: $default-color;
        color: #fff;
    }
    .vacation-option-active:hover {
        background-color: darken($default-color, 5%);
        border-color: darken($default-color, 5%);
        color: #fff;
    }
    .m-button-user-list {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
.col-5 {
    width: 20%;
    float: right;
}
.new-user-wrapper {
    margin: 0 0 0 -4px;
}

@media (max-width: 767px) {
    .btn-group label.btn, .btn {
        border-radius: 0;
    }
    .btn-group .btn + .btn, 
    .btn-group .btn + .btn-group, 
    .btn-group .btn-group + .btn, 
    .btn-group .btn-group + .btn-group, 
    .new-user-wrapper {
        margin-left: 0;
    }
    .additional-form button {
        margin: 0 0 10px;
    }
    .col-5 {
        width: 100%;
    }
}