<div class="login-block">
      <a href="#" class="back-login icom-arrow-left"></a>
      <div class="logo">
        <img src="/assets/images/logo.png" alt="CHI">
      </div>
      <h1 class="login-title">Change your password</h1>
      <form name="authForm" class="login-form change-pass" ng-submit="changePassword()">
        <fieldset>
          <div class="row">
            <label for="change-email-login">Email</label>
            <input type="email" name="change-email-login" id="change-email-login" ng-model='email'>
          </div>
          <div class="row">
            <label for="change-password-login">Password</label>
            <input type="password" name="change-password-login" id="change-password-login" ng-model="oldPassword">
          </div>
          <div class="row">
            <label for="new-change-password">New Password</label>
            <input type="password" name="new-change-password" id="new-change-password" ng-model="newPassword">
          </div>
          <div class="btn-holder"><button type="submit" class="btn btn-red">Change </button></div>
        </fieldset>
      </form>
    </div>