@import '../../../assets/styles/sass/variables.scss';

.login-page-wrapper {
    display: flex;
    align-items:center;
    background: url('../../../assets/images/login-bg.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100vh;
    padding: 70px 0 20px 0;

    .login-form-wrap {
        padding: 25px 0;
        margin: 0 auto;
        border-radius: $br-size;
        background-color: $bg-color;

        .login-form {
            width: 90%;
            margin: 0 auto;
            .password-link {
                margin: 0 4px;
                cursor: pointer;
            }
        }
    }
    .login-form-legend{
        color: #fff;
    }
    .ng-invalid.ng-touched {
        border: solid red 1px;
    }
    .form-close{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 25px;
        color: rgba(255,255,255,0.7);
        &:hover {
            color: white;
        }
    }

}
