.login-page-wrapper {
    background: url('../../../assets/images/login-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100vh;

    .login-form-wrap{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 2px solid #FF5722;
        border-radius: 4px;
    }
    .login-form-legend{
        color: #fff;
    }
    .ng-invalid.ng-touched {
        border: solid red 1px;
    }

}
