<div class="login-page">
  <div id="wrapper">
    <div class="login-block">
      <div class="logo ">
        <img src="/assets/images/logo.png" alt="CHI">
      </div>
      <h1 class="login-title">Log into your CHI vacation account</h1>
      <form class="login-form" name="authForm" novalidate="novalidate" ng-submit='signin()'>
        <fieldset>
          <div class="row">
            <label for="email-login">Email</label>
            <input type="email" name="Email" ng-model='email'>
          </div>
          <div class="row">
            <label for="password-login">Password</label>
            <input type="password" name="password" ng-pattern="passwordPattern" required ng-model='passw'>
          </div>
          <div class="btn-holder"><button type="Submit" class="btn btn-red">LOG IN</button></div>
        </fieldset>
      </form>
      <div class="login-foter">
         <div class="pass-link-holder">
          <a class="password-link" >Change password</a>
          </div>
        <p>If you have any problems with your account leave a message to Julia Rassokha ( <a href="skype:ulie.rassokha" class="skype">julie.rassokha</a> )</p>
      </div>
    </div>
  </div>
</div>
